<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minglang.suiuu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.SendPostActivity_One"
            android:label="@string/title_activity_send_post_activity__one"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activity.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.AttentionActivity"
            android:label="@string/title_activity_attention"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.FansActivity"
            android:label="@string/title_activity_fans"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.PersonSettingActivity"
            android:label="@string/title_activity_person_setting"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.MyAttentionActivity"
            android:label="@string/title_activity_my_attention"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.OtherUserActivity"
            android:label="@string/title_activity_other_user"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activity.NewRemindActivity"
            android:label="@string/title_activity_new_remind"
            android:screenOrientation="portrait"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.HeadImageActivity"
            android:label="@string/title_activity_head_image"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activity.OtherUserTraceActivity"
            android:label="@string/title_activity_other_user_trace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.SuDetailsActivity"
            android:label="@string/title_activity_suiuu_details"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:theme="@style/FullBleedTheme" />
        <activity
            android:name=".activity.SelectImageActivity"
            android:label="@string/title_activity_select_image"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activity.SelectPictureActivity"
            android:label="@string/title_activity_select_picture"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>
    </application>

</manifest>
